h1 {
    font-size: 45px;
    font-family: ;
    padding: 10px;
    margin: 16px;
    font-weight: ;
    text-decoration: ;
    color: darkgoldenrod;
    background-color: lemonchiffon;
}

h2 {
    font-size: 30px;
    font-family: ;
    padding: 10px;
    margin: 16px;
    font-weight: ;
    color: darkolivegreen;
    background-color: lemonchiffon;
}

p {
    font-family: ;
    font-size: 16px;
    padding: 5px;
    margin: 16px;
    color: black;
    background-color: lemonchiffon;
}

.logo {
    background-size: cover;
    background-image: url();
    background-color: ;
    height: ;
    width: ;
}
