h1 {
    font-size: 45px;
    font-family: serif;
    padding: 10px;
    margin: 16px;
    font-weight: bolder;
    text-decoration: none;
    color: darkgoldenrod;
    background-color: lemonchiffon;
}

h2 {
    font-size: 30px;
    font-family: serif;
    padding: 10px;
    margin: 16px;
    font-weight: 600;
    color: darkolivegreen;
    background-color: lemonchiffon;
}

p {
    font-family: serif;
    font-size: 16px;
    padding: 5px;
    margin: 16px;
    color: black;
    background-color: lemonchiffon;
}

.logo {
    background-size: cover;
    background-image: url(https://appacademy.github.io/styleguide/assets/logo/logo-emblem-black-1000.png);
    background-color: white;
    height: 75px;
    width: 75px;
}
